@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional global resets */
body {
  margin: 0;
  background: #000;
}
input:focus, textarea:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #4b5563 !important; /* gray-600 */
}
